// Add new colors here to make them accessible for
// things like text-<color_name>
$blue-dk:       #00356b;
$blue-med:      #286dc0;
$blue-lt:       #63aaff;
$blue-xlt:      #e7ebef;
$carbon:        #222222;
$gray-dk:       #4a4a4a;
$gray-med:      #949494;
$gray-warm:     #978d85;
$gray-lt:       #dddddd;
$gray-xlt:      #eeeeee;
$gray-shade:    #f9f9f9;
$green:         #5f712d;
$orange:        #bd5319;
$off-white:     #f9f9f9;
$white:         #ffffff;
$black:         #000000;
$red:           #7a1a1a;
$body-text-red: #b80000;

$danger:            $red;
$dark:              $carbon;
$info:              $blue-lt;
$light:             $gray-shade;
$primary:           $blue-med;
$secondary:         $gray-warm;
$success:           $green;
$warning:           $orange;
$yale:              $blue-dk;
$active-student:    $green;
$active-community:  $dark;
$alum:              $orange;
$affiliation-ended: $red;


// Add new definitions here to make them available
// for things like bg-<theme_name>
$theme-colors: (
  "primary":          $primary,
  "secondary":        $secondary,
  "success":          $success,
  "info":             $info,
  "warning":          $warning,
  "danger":           $danger,
  "light":            $light,
  "dark":             $dark,
  "yale":             $yale,
  "active-student":   $success,
  "active-community": $dark,
  "alum":             $warning,
  "affiliation-ended":$danger
  );
  
  // universal definition overrides
$link-color: theme-color("primary");

$input-focus-border-color: $yale;
$input-box-shadow: $yale;

$input-btn-focus-color-opacity: .8;
$input-btn-focus-color: $yale;
