@font-face {
  font-family: YaleTypeface;
  font-style: normal;
  font-weight: normal;
  src: url('yale_typeface/YaleNew-Roman') format('otf');
}

@font-face {
  font-family: YaleTypeface;
  font-style: normal;
  font-weight: bold;
  src: url('yale_typeface/YaleNew-Bold') format('otf');
}

@font-face {
  font-family: YaleTypeface;
  font-style: italic;
  font-weight: bold;
  src: url('yale_typeface/YaleNew-BoldItalic') format('otf');
}

@font-face {
  font-family: YaleTypeface;
  font-style: italic;
  font-weight: normal;
  src: url('yale_typeface/YaleNew-Italic') format('otf');
}

$font-family-sans-serif:      "Mallory", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$font-family-serif:       YaleTypeface, "Times New Roman", "Georgia", "Garamond";
