$headings-margin-bottom: 1.5rem;
$headings-font-family: $font-family-serif;
$headings-font-weight: normal;
$headings-line-height:        1.2;


$h1-font-size: 2.125rem;
$h1-font-size-md-up: 3.4375rem;
$h1-line-height: $headings-line-height;
$h1-font-weight: $headings-font-weight;
$h1-color: $yale;
$h1-font-family: $headings-font-family;
$h1-margin-top: 1.875rem;
$h1-margin-bottom: $h1-margin-top;

$h2-font-size: 1.875rem;
$h2-font-size-md-up: 2.5rem;
$h2-line-height: $headings-line-height;
$h2-font-weight: $headings-font-weight;
$h2-color: $blue-med;
$h2-font-family: $headings-font-family;
$h2-margin-top: 1.375rem;
$h2-margin-bottom: 1.375rem;

$h3-font-size: 1.625rem;
$h3-font-size-md-up: 1.875rem;
$h3-line-height: $headings-line-height;
$h3-font-weight: $headings-font-weight;
$h3-color: $blue-dk;
$h3-font-family: $headings-font-family;
$h3-margin-top: 1.5625rem;
$h3-margin-bottom: 1.5625rem;

$h4-font-size: 1.5rem;
$h4-font-size-md-up: $h4-font-size;
$h4-line-height: $headings-line-height;
$h4-font-weight: $headings-font-weight;
$h4-color: $headings-color;
$h4-font-family: $headings-font-family;
$h4-margin-top: 0.875rem;
$h4-margin-bottom: 0.875rem;

$h5-font-size: 0.875rem;
$h5-font-size-md-up: $h5-font-size;
$h5-line-height: $headings-line-height;
$h5-font-weight: $headings-font-weight;
$h5-color: $blue-dk;
$h5-font-family: $font-family-sans-serif;
$h5-margin-top: 1.25rem;
$h5-margin-bottom: $h5-margin-top;
$h5-letter-spacing: 0.75px;
$h5-word-spacing: 1.25px;
$h5-text-transform: uppercase;

$h6-font-size: 0.875rem;
$h6-font-size-md-up: $h6-font-size;
$h6-line-height: $headings-line-height;
$h6-font-weight: $headings-font-weight;
$h6-color: $blue-dk;
$h6-font-family: $font-family-sans-serif;
$h6-margin-top: $h5-margin-top;
$h6-margin-bottom: $h6-margin-top;
$h6-letter-spacing: 1.15px;
$h6-word-spacing: 1.5px;
$h6-text-transform: uppercase;

h1,
.h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  font-weight: $h1-font-weight;
  color: $h1-color;
  font-family: $h1-font-family;
  margin-top: $h1-margin-top;
  margin-bottom: $h1-margin-bottom;

  @include media-breakpoint-up('md') {
    font-size: $h1-font-size-md-up;
  }
}

h2,
.h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  font-weight: $h2-font-weight;
  color: $h2-color;
  font-family: $h2-font-family;
  margin-top: $h2-margin-top;
  margin-bottom: $h2-margin-bottom;

  @include media-breakpoint-up('md') {
    font-size: $h2-font-size-md-up;
  }
}

h3,
.h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  font-weight: $h3-font-weight;
  color: $h3-color;
  font-family: $h3-font-family;
  margin-top: $h3-margin-top;
  margin-bottom: $h3-margin-bottom;

  @include media-breakpoint-up('md') {
    font-size: $h3-font-size-md-up;
  }
}

h4,
.h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  font-weight: $h4-font-weight;
  color: $h4-color;
  font-family: $h4-font-family;
  margin-top: $h4-margin-top;
  margin-bottom: $h4-margin-bottom;

  @include media-breakpoint-up('md') {
    font-size: $h4-font-size-md-up;
  }
}

h5,
.h5 {
  font-size: $h5-font-size;
  line-height: $h5-line-height;
  font-weight: $h5-font-weight;
  color: $h5-color;
  font-family: $h5-font-family;
  margin-top: $h5-margin-top;
  margin-bottom: $h5-margin-bottom;
  letter-spacing: $h5-letter-spacing;
  word-spacing: $h5-word-spacing;
  text-transform: $h5-text-transform;

  @include media-breakpoint-up('md') {
    font-size: $h5-font-size-md-up;
  }
}

h6,
.h6 {
  font-size: $h6-font-size;
  line-height: $h6-line-height;
  font-weight: $h6-font-weight;
  color: $h6-color;
  font-family: $h6-font-family;
  margin-top: $h6-margin-top;
  margin-bottom: $h6-margin-bottom;
  letter-spacing: $h6-letter-spacing;
  word-spacing: $h6-word-spacing;
  text-transform: $h6-text-transform;

  @include media-breakpoint-up('md') {
    font-size: $h6-font-size-md-up;
  }
}
