$link-decoration: underline;
$nav-link-color:                $blue-med;
$link-color:                    $blue-dk;
$link-hover-color:              $dark;
$nav-tabs-link-active-color:    $blue-dk;

$navbar-light-hover-color:      $blue-lt;
$navbar-light-color:            $blue-med;
$navbar-light-active-color:     $blue-dk;


$border-radius:               0rem;
$border-radius-sm:            0rem;
$border-radius-lg:            0rem;

.nav-link.nav-link-active {
  color: $blue-dk;
}

.nav-link {
  color: $blue-med;
}

.nav-item {
  &.active {
    color: $dark;
    background-color: $dark;
  }
}

$nav-tabs-link-active-color: $light;
$nav-tabs-link-active-bg: $blue-med;
