.nav-link {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(white, 1);
    color: $nav-link-hover-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }
}

a {
  padding: 4px 4px 4px 4px;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $yale;
  }
}

.footer-link {
  padding: 4px 4px 4px 4px;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px white;
  }
}
