$pagination-color: $success;
$pagination-bg: $light;
$pagination-border-color: $success;

$pagination-hover-color: $light;
$pagination-hover-bg: $carbon;
$pagination-hover-border-color: $carbon;

$pagination-active-color: $light;
$pagination-active-bg: $success;
$pagination-active-border-color: $light;
